body{
    margin: 0;
}
.individualscore{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: -140px;
    text-align: center;
}
#startbutton1:hover{
    color: red;
    background-color: black;
    transition: 0.6s;
    cursor: pointer;
}
#usersubmit:hover{
    cursor: pointer;
    color: white;
    background-color: orange;
    transition: 0.6s;
}
.yourlist{
    font-family: 'VT323', monospace;
    font-size: 25px;
    display: flex;
    flex-direction: column;
}
.yourlist > p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.yourlist > div{
    font-size: 40px;
    margin-top: 100px;
    margin-bottom: 170px;
}
#yourscore{
    color: red;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    font-family: 'VT323', monospace;
}
#myscoreshow{
    font-size: 30px;
    font-family: 'VT323', monospace;
    background-color: green;
    margin-top: 15px;
    color: white;
    border: none;
    padding: 5px;
    width: 80px;
}
#myscoreshow:hover{
    color: green;
    background-color: black;
    transition: 0.6s;
    cursor: pointer;
}
.overallscore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
    margin-top: -50px;
}
#option1:hover{
    color: blue;
    transition: 0.6s;
    cursor: pointer;
}
#option2:hover{
    color: blue;
    transition: 0.6s;
    cursor: pointer;
}
#myscores {
    display: flex;
    flex-direction: column;
    font-family: 'VT323', monospace;
    z-index: 2;
    margin-top: -170px;
    justify-content: center;
    align-items: center;
}
#myscores1{
    font-size: 30px;
}
#searchusername {
    padding: 5px;
    border: 1px solid blue;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
    font-family: 'VT323', monospace;
    width: 270px;
}
#closeviewscore{
    position: relative;
    color: blue;
    top: -100px;
    font-size: 20px;
    font-family: 'VT323', monospace;
}
#closeviewscore:hover{
    cursor: pointer;
    transition: 0.6s;
    color: red;
}
#option1{
    margin-top: -30px;
    font-size: 40px;
    font-family: 'VT323', monospace;
    margin-bottom: 20px;
}
#option2{
    font-size: 40px;
    font-family: 'VT323', monospace;
    margin-top: 20px;
}
/* USER NAME */
#userDetails{
    display: flex;
    position: relative;
    align-items: center;
    margin-top: 0px;
    flex-direction: column;
    font-family: 'VT323', monospace;
    justify-content: center;
}
#usersubmit{
    margin-top: 20px;
    height: 44px;
    font-family: 'VT323', monospace;
    width: 88px;
    background: green;
    font-size: 25px;
    border: none;
    color: white;
}
#userinput{
    font-size: 28px;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-family: 'VT323', monospace;
}
#username{
    font-size: 30px;
    padding: 15px;
}
/* CLOSESCORE */
#closescore{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    font-size: 17px; 
    margin-top: -100px;
    margin-bottom: 15px; 
    font-family: 'VT323', monospace;
    color: blue;
}
#closescore1{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    font-size: 17px; 
    margin-top: 90px;
    margin-bottom: 15px; 
    font-family: 'VT323', monospace;
    color: blue;
}
#closescore1:hover{
    color: red;
    transition: 0.6s;
    cursor: pointer;
}
#scorelistNormal{
    margin-top: 5px; 
    font-size: 25px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
#startbutton:hover{
    cursor: pointer;
    background-color: orange;
    color: black;
}
#selectmode{
    font-size: 45px; 
    margin-bottom: 15px; color: black;
}
#startbutton0:hover{
    cursor: pointer;
    background-color: black;
    color: rgb(5, 136, 5);
}
/* HOME SECTION */
.home > div > #normalmode{
    margin-bottom: 5px; 
    padding: 5px;
}
#hackerplus{
    text-decoration: none;
    color: rgba(0, 47, 255, 0.609);
    padding: 5px;
}
#hackerplus{
    margin-bottom: -20px; 
    margin-top: 8px; 
}
#hackerplus:hover{
    color: orange;
    text-decoration: none;
    background-color: black;
    cursor: pointer;
    transition: 0.25s;
}
#hackermode2{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
}
#hackermode2:hover{
    color: red;
    background-color: black;
    cursor: pointer;
    transition: 0.25s;
}
#hackermode{
    margin-bottom: 5px; 
    margin-top: 5px; 
    padding: 5px;
}
#normalmode:hover{
    cursor: pointer;
    background-color: rgb(255, 174, 0);
    color: white;
    transition: 0.25s;
}
#hackermode:hover{
    cursor: pointer;
    background-color: black;
    color: rgb(5, 136, 5);
    transition: 0.25s;
}
.home {
    display: flex;
    font-size: 35px;
    margin-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    color: rgba(0, 47, 255, 0.609);
    font-family: 'VT323', monospace;
}
#showscore {
    color: black;
    margin-top: 35px;
    padding: 5px;
}
#showscore:hover {
    color: white;
    background-color: rgba(0, 47, 255, 0.609);
    transition: 0.25s;
    cursor: pointer;
}
.viewscore {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    position: fixed;
    z-index: 1;
    width: 350px;
    height: 400px;
    overflow: auto;
    border: 1px solid rgba(0, 47, 255, 0.609);
    background-color: white; 
    margin-top: -100px;
}
#gridNumberInput {
    border: 1px solid rgba(0, 47, 255, 0.609);
    width: 240px;
    height: 30px;
    font-size: 20px;
    padding: 3px;
    text-align: center;
    margin-top: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-color: 1px solid black;
    flex-direction: column;
}
.game-square {
box-sizing: border-box;
width: 100px;
height: 100px;
position: relative;
overflow: hidden;
}

#game {
width: 500px;
height: 400px;
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
background-color: rgba(0, 47, 255, 0.609);
margin-bottom: 30px;
padding: 30px;
}

.game-square > div {
width: 100%;
height: 200%;
position: absolute;
top: 0;
}

.game-square > div > div {
height: 50%;
}

.game-square > div > div {
background-color: orange;
margin: 1.5px;
display: flex;
justify-content: center;
align-items: center;
color: black;
border-radius: 10px;
font-size: 70px;
font-family: 'VT323', monospace;
text-align: center;
}
.game-square > div > div:hover{
    background-color: black !important;  
    color: orange;
    border: 1px solid orange;
    cursor: pointer;
    transition: 0.3s;
}

/* SCORE DIVISION */
.score{
    background-color: rgba(0, 47, 255, 0.60);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 140px;
    padding-bottom: 0px;
    padding-top: 20px;
    font-family: 'VT323', monospace;
}

.score > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 72px;
    margin-right: 72px;
}

.score > div >p{
    background-color: white;
}

.menu{
    display: flex;
    background-color: rgba(0, 47, 255, 0.60);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'VT323', monospace;
}
.menu > .newgame{
    font-size: 35px;
    padding: 10px;
}
.newgame:hover{
    color: white;
    transition: 0.6s;
    cursor: pointer;
}
.greeting{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    font-size: 45px;
    margin-top: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'VT323', monospace;
}
.starting {
    display: none;
    width: 288px;
    height: 338px;
    text-align: center;
    color: green;
    line-height: 40px;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 30px;
    font-family: 'VT323', monospace;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
#back1{
    font-size: 30px;
    color: blue;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 5px;
}
#back1:hover {
    color: white;
    background-color: blue;
    transition: 0.25s;
    cursor: pointer;
}
#back{
    font-size: 30px;
    color: blue;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 5px;
}
#back:hover {
    color: white;
    background-color: blue;
    transition: 0.25s;
    cursor: pointer;
}
/* TOPSCORES */
.topscores {                             
    color: hsl(229, 100%, 50%);
    font-size: 35px;
    font-family: 'VT323', monospace;
    padding: 10px;
    border-bottom: 1px solid black;
    margin-top: -20px;
}
.scorelist > p {
    display: flex;
    flex-direction: column;
    background-color: none;
    color: black;
    font-size: 30px;
    font-family: 'VT323', monospace;
    width: 300px;
    text-align: center;
    height: 50px;
    margin: unset;
    justify-content: center;
    align-items: center;
}
#startbutton {
    background-color: green;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 25px;
}
#startbutton0{
    background-color: green;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 25px;
}
#startbutton1{
    background-color: green;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 10px;
    font-family: 'VT323', monospace;
    font-size: 25px;
}
.gameover {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    flex-wrap: wrap;
    margin-top: -15px;
    font-size: 60px;
    font-family: 'VT323', monospace;
    align-items: center;
}
.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 10px;
    width: 500px;
    height: 400px;
    padding-bottom: 50px;
    color: black;
    font-family: 'VT323', monospace;
    font-size: 300px;
    z-index: 2;
}
.score > h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    z-index: 1;
    font-size: 100px;
    position: absolute;
}
@media screen and (max-width:425px) {
    .countdown{
        font-size: 250px;
    }
    .score > h2 {
        margin-top: 20px;
        font-size: 80px;
    }
    .score > div {
        font-size: 25px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .home {
        font-size: 30px;
        margin-top: 25px;
    }
    #selectmode{
        font-size: 40px;
        margin-bottom: 10px;
    }
    #showscore {
        margin-top: 30px;
        padding: 5px;
    }
    .scorelist > p {
        font-size: 25px;
        width: 200px;
        height: 50px;
    }
    .viewscore {
        z-index: 1;
        width: 325px;
        height: 380px;
        margin-top: -50px;
    }

    .topscores {
        font-size: 30px;
        padding: 10px;
        margin-top: -20px;
    }
    #game {
        width: 350px;
        height: 286px;
        font-size: -13px;
        margin-bottom: 30px;
        padding: 20px;
    }
    .game-square {
        width: 70px;
        height: 70px;
    }
    .game-square > div > div {
        margin: 1.5px;
        border-radius: 10px;
        font-size: 50px;
    }
    .greeting {
        height: 65px;
        font-size: 30px;
        margin-top: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
    }
    .gameover {
        margin-top: -20px;
        font-size: 60px;
    }
    .menu > .newgame {
        font-size: 25px;
        padding: 10px;
    }
    #closeviewscore {
        top: -115px;
    }
    #closescore1 {
        margin-top: 190px;
    }
    #closescore {
        margin-top: -7px;
    }
}

@media screen and (max-width:375px) {
    #scorelistNormal{
        font-size: 20px;
    }
    .countdown{
        font-size: 200px;
    }
    #game {
        padding: 10px;
        width: 325px;
        height: 266px;
    }
    .scorelist > p {
        font-size: 25px;
        width: 200px;
        height: 45px;
    }
    .score{
        height: 120px;
    }
    .game-square {
        width: 65px;
        height: 65px;
    }
    .score > h2 {
        font-size: 65px;
    }
    .score > div {
            margin-left: 30px;
            margin-right: 30px;
    }
    .greeting {
        font-size: 25px;
        height: 40px;
    }
    .viewscore {
        width: 300px;
        height: 390px;
    }
    .topscores {
        font-size: 30px;
    }
    #back1 {
        margin-top: 70px;
    }
    #back {
        margin-top: 70px;
    }
}
@media screen and (max-width:320px) {
    #username {
        font-size: 25px;
        padding: 15px;
    }
    #usersubmit {
        margin-top: 20px;
        height: 40px;
        font-size: 25px;
    }
    #back {
        margin-top: 60px;
    }
    #back1 {
        margin-top: 60px;
    }
    #userinput {
        font-size: 25px;
        height: 15px;
    }
    #closescore1 {
        margin-top: 180px;
    }
    #yourscore {
        font-size: 25px;
    }
    .yourlist > div {
        font-size: 35px;
        margin-top: 70px;
        margin-bottom: 110px;
    }
    #searchusername {
        font-size: 25px;
        width: 200px;
    }
    #option1 {
        font-size: 30px;
        margin-top: -40px;
    
    }
    #option2 {
        font-size: 30px;
    }
    #closescore{
        margin-bottom: 0px;
        font-size: 5px;
    }
    .countdown{
        font-size: 150px;
    }
    .game-square {
        width: 54px;
        height: 54px;
    }
    .game-square > div > div {
        font-size: 40px;
    }
    .countdown{
        font-size: 200px;
    }
    .starting{
        height: 253px;
        line-height: 35px;
    }
    #startingmsg{
        font-size: 25px;
    }
    #gridNumberInput{
        font-size: 17px;
        width: 200px;
    }
    #startbutton0{
        font-size: 20px;
    }
    #back{
        font-size: 25px;
    }
    #startbutton{
        font-size: 20px;
    }
    .greeting {
        font-size: 23px;
        height: 35px;
    }
    .score {
        height: 100px;
    }
    .score > h2 {
        font-size: 50px;
    }
    .home {
        font-size: 25px;
    }
    .viewscore {
        width: 260px;
        height: 330px;
    }
    .topscores {
        font-size: 25px;
        padding: 5px;
        margin-top: 0px;
    }
    .scorelist > p {
        font-size: 25px;
        width: 200px;
        height: 40px;
    }
    .score > div {
        margin-left: 26px;
        font-size: 20px;
        margin-right: 26px;
    }
    #game {
        width: 275px;
        height: 227px;
        padding: 10px;
    }
    .menu {
        height: 55px;
    }
    #selectmode{
        font-size: 30px;
        margin-bottom: 10px;
    }
    #myscoreshow {
        font-size: 25px;
        margin-top: 15px;
        padding: 5px;
        width: 80px;
    }
    #myscores1 {
        font-size: 25px;
    }
}
