body{
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-color: 1px solid black;
    flex-direction: column;
}
.game-square {
box-sizing: border-box;
width: 100px;
height: 100px;
position: relative;
overflow: hidden;
}

#game {
width: 500px;
height: 400px;
display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: wrap;
background-color: rgba(0, 47, 255, 0.609);
margin-bottom: 30px;
padding: 30px;
}

.game-square > div {
width: 100%;
height: 200%;
position: absolute;
top: 0;
}

.game-square > div > div {
height: 50%;
}

.game-square > div > div:first-child {
background-color: orange;
margin: 1.5px;
display: flex;
justify-content: center;
align-items: center;
color: black;
border-radius: 10px;
font-size: 70px;
font-family: 'VT323', monospace;
text-align: center;
}
.game-square > div > div:last-child {
    background-color: orange;
    margin: 1.5px;
    display: none;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 10px;
    font-size: 70px;
    font-family: 'VT323', monospace;
    text-align: center;
    }
.flip > div {
top: -100%;
}


/* SCORE DIVISION */
.score{
    background-color: rgba(0, 47, 255, 0.60);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 140px;
    padding-bottom: 0px;
    padding-top: 20px;
    font-family: 'VT323', monospace;
}

.score > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 72px;
    margin-right: 72px;
}

.score > div >p{
    background-color: white;
}

.menu{
    display: flex;
    background-color: rgba(0, 47, 255, 0.60);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'VT323', monospace;
}
.menu > .newgame{
    font-size: 35px;
    padding: 10px;
    
}

.greeting{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70px;
    font-size: 45px;
    margin-top: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'VT323', monospace;
}

.starting{
    width: 500px;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 47, 255, 0.609);
    margin-bottom: 30px;
    padding: 30px;
    font-size: 60px;
    font-family: 'VT323', monospace;
    justify-content: center;
    align-items: center;
}

.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    color: black;
    font-size: 300px;
    z-index: 2;
}

.score > h2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    z-index: 1;
    font-size: 100px;
    position: absolute;
}

@media screen and (max-width:560px){
    .game-square > div > div:first-child {
        background-color: orange;
        margin: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 10px;
        font-size: 55px;
        font-family: 'VT323', monospace;
        text-align: center;
    }
    .game-square > div > div:last-child {
        background-color: orange;
        margin: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 10px;
        font-size: 55px;
        font-family: 'VT323', monospace;
        text-align: center;
    }
    #game {
        width: 380px;
        height: 304px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(0, 47, 255, 0.609);
        margin-bottom: 30px;
        padding: 20px;
    }
    .game-square {
        box-sizing: border-box;
        width: 75px;
        height: 75px;
        position: relative;
        overflow: hidden;
    }
    .starting {
        width: 380px;
        height: 304px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(0, 47, 255, 0.609);
        margin-bottom: 30px;
        padding: 20px;
        font-size: 40px;
        font-family: 'VT323', monospace;
        justify-content: center;
        align-items: center;
    }
    .score > h2 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-align: center;
        z-index: 1;
        font-size: 80px;
        position: absolute;
    }
}

@media screen and (max-width:460px){

    .game-square > div > div:first-child {
        background-color: orange;
        margin: 1.5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 10px;
        font-size: 50px;
        font-family: 'VT323', monospace;
        text-align: center;
    }
    .game-square > div > div:last-child {
        background-color: orange;
        margin: 1.5px;
        display: none;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 10px;
        font-size: 50px;
        font-family: 'VT323', monospace;
        text-align: center;
    }
    #game {
        width: 350px;
        height: 284px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(0, 47, 255, 0.609);
        margin-bottom: 30px;
        padding: 20px;
    }
    .greeting {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 70px;
        font-size: 30px;
        margin-top: 10px;
        padding-bottom: 0px;
        padding-top: 0px;
        font-family: 'VT323', monospace;
    }
    .score > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .game-square {
        box-sizing: border-box;
        width: 70px;
        height: 70px;
        position: relative;
        overflow: hidden;
    }
     .starting {
        width: 350px;
        height: 284px;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgba(0, 47, 255, 0.609);
        margin-bottom: 30px;
        padding: 20px;
        font-size: 40px;
        font-family: 'VT323', monospace;
        justify-content: center;
        align-items: center;
    }
    .score > h2 {
        display: flex;
        justify-content: center;
        margin-top: 20px;
        text-align: center;
        z-index: 1;
        font-size: 70px;
        position: absolute;
    }
}
